*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: rgba(185, 126, 32, 0.2);
    min-height: 100vh;
    /* background-image: url(laptop.jpg); */
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
nav{
    position: fixed;
    width: 100%;
    top: 0;
    color: black;
    padding: 15px 20px;
    display: block;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.562);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    z-index: 1000;
}
nav .logo{
    font-size: 10px;
    letter-spacing: 1px;
    display: flex;
    flex-direction: row;
}
.logo-details{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    font-weight: 500;
}
.logo-details h1{
    font-size: 18px;
    font-weight: 400;
    background-image: linear-gradient(90deg, #cf3959, #c01d59 , #901749, #6b1096);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.logo-details p{
    font-size: 12px;
    font-weight: 300;
}
nav img{
    width: 35px;
    border-radius: 50%;
    text-decoration: none;
    color: black;
    margin-left: 20px;
    font-weight: 500;
}

nav input{
    width: 95%;
    padding: 17px 25px;
    margin: 20px 20px 20px 20px;
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size: 17px;
    outline: none;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 60px 20px;
    margin-top: 180px;;
    color: white;
    background-image: linear-gradient(90deg, #cf3959, #c01d59, #6b1096, #901749);
}
.banner a{
    text-align: center;
    font-size: 16px;
    margin-bottom: 30px;
    font-weight: 600;
    text-transform: capitalize;
    padding: 5px 10px;
    border-radius: 50px;
    background-color: transparent;
    background-color: rgba(228, 225, 225, 0.562);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}
.banner h2{
    font-size: 26px;
    font-weight: 200;
    margin-top: 20px;
    margin-bottom: 20px;
}
.banner p{
    font-size: 16px;
    font-weight: 300;
    max-width: 600px;
    line-height: 1.6;
}
.banner-features{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 40px;

    
}
.banner-content svg{
    width: 15px;
}
.banner-features span{
    background-color: rgba(255, 255, 255, 0.562);
    padding: 5px 10px;
    border-radius: 90px;
}

@media (max-width: 768px) {
    .banner h2{
        font-size: 22px;
    }
    .banner p{
        font-size: 14px;
    }
    .banner-features{
        font-size: 12px;
        gap: 20px;
    }
    .all-products{
        padding: 10px 20px;
    }
    nav{
        padding: 10px 5px;
    }
}

.lightbox {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .lightbox.hidden {
    display: none;
  }
  
  .lightbox-content {
    position: relative;
    max-width: 90%;
    max-height: 90%;
  }
  
  .lightbox-content img {
    width: 100%;
    height: auto;
    border-radius: 12px;
  }
  
  #lightbox-close {
    position: absolute;
    top: -40px;
    right: 0;
    font-size: 32px;
    color: white;
    cursor: pointer;
  }
  